@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Roboto, sans-serif;
}
img.marbleLogo{
    height: 60px;
}
img.portfolioLogo{
    height: 28px;
    width: auto;
}
a.portBtn {
    color: #0F2E28;
    transition: transform(0.2s);
}
    a.portBtn:hover {
        color: #000000;
        transform: scale(1.05);
    }
a.customTextColor .text-dark{
    color: #282828;
}
.customNav {
    backdrop-filter: blur(8px);
}
.mentalConditions-wrapper, .mentalHealth-wrapper, .involved-wrapper, .help-wrapper, .org-wrapper {
    height: 80vh;
    background-color: #216659;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.parallaxWrapper::-webkit-scrollbar {
    display: none;
}
.parallaxWrapper {
    background-color: #216659;
    height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    perspective: 300px;
}
.parallax-group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}
.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.handsup {
    background: url('/Files/ParallaxBG/homepageParallax/handsup.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-100px) scale(1.65);
    z-index: 5;  
}
.mountain3 {
    background: url('/Files/ParallaxBG/homepageParallax/mountain3.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-140px) scale(1.70);
    z-index: 4;    
}
.mountain2 {
    background: url('/Files/ParallaxBG/homepageParallax/mountain2.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-190px) scale(1.75);
    z-index: 3;   
}
.mountain1 {
    background: url('/Files/ParallaxBG/homepageParallax/mountain1.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-195px) scale(1.70);
    z-index: 2;
}
.sunSky {
    background: url('/Files/ParallaxBG/homepageParallax/sunsky.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-200px) scale(1.95);
    z-index: 1;
}
.textContainer {
    transform: translateZ(-195px) scale(1.50);
    z-index: 2;
    margin-top: 185px;
}
.headerLogo {
    height: 15em;
    min-height: 15em;
    width: auto;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }
.navCustom {
    font-size: 18px;
    color: #011713;
}
.filler {
    margin-top: 120vh;
    padding-top: 80px;
    justify-content: center;
    font-size: calc(20px + 2.5vw);
}
div.filler p.headerMental {
    margin-bottom: 0;
}
div hr.hrStyling {
    width:50%;
    background-image: linear-gradient(to right, #216659, #ffffff, #216659);
    overflow: visible;
    text-align: center;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
    div hr.hrStyling:after {
        background: #216659;
        content: '§';
        color: #ffffff;
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
div hr.hrStylingTwo {
    background-image: linear-gradient(to right, #ffffff, #216659, #ffffff);
    overflow: visible;
    text-align: center;
    height: 3px;
}
    div hr.hrStylingTwo:after {
        background: #fff;
        content: '§';
        color: #216659;
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
div hr.hrStylingThree {
    background-image: linear-gradient(to right, #d1e7e3, #216659, #d1e7e3);
    overflow: visible;
    text-align: center;
    height: 3px;
}
    div hr.hrStylingThree:after {
        background: #d1e7e3;
        content: '§';
        color: #216659;
        padding: 0 4px;
        position: relative;
        top: -13px;
    }

div.bodyContainer{
    background-color: #d1e7e3;
}
.mainBtnContainer {
    background-image: linear-gradient(#216659 5%, #f7f7f7 5% 75%);
}
.mainContainer {
    background-image: linear-gradient(#216659 10%, #f7f7f7 10% 75%);
}
.sectionContainer {
    background-image: linear-gradient(#216659 20%, #f7f7f7 20% 75%);
}
    div.conditionsSection {
        background-color: #d1e7e3;
    }
a.iconBtn {
    background-color: #fff;
    transition: transform 0.2s;
    font-weight: 600;
    color: #011713;
}
    a.iconBtn:hover {
        background-color: #216659;
        color: #fff;
        border: none;
        transform: scale(1.05);
    }
    a img.iconMental {
        width: 150px;
        min-width: 120px;
        height: auto;
    }
    a p.iconText{
    color: #143b34;
    }
.customText {
    color: #143b34;
}

button.customBtn{
    background-color: #216659;
    color: #ffffff;
}
    button.customBtn:hover{
        color: #011713;
        background-color: #d1e7e3;
        border: 2px solid #216659;
    }

div.newsImgCon{
    width: 8vw;
    min-width: 100px;
    height: 100px;
}
    div.newsImgCon img.newsImage {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
a.ctaBtn {
    color: #143b34;
    font-size: 2.5vh;
    background-color: #fad462;
    transition: transform(0.2s);
}
    a.ctaBtn:hover {
        color: #143b34;
        background-color: #fcbd00;
        transform: scale(1.10);
    }
footer {
    background-color: #143b34;
}
div.sectionHeader {
    height: 40vh;
    background-color: #143b34;
    color: #ffffff;
    font-size: 80px;
}
div.sectionBackground {
    background: url('/Files/vectorBackground.png') no-repeat center;
    background-size: cover;
}
    div.sectionBackground p{
        font-weight: bold;
        font-size: 8vh;
    }
div.articleImg {
    width: 30vw;
    height: 300px;
}
    div.articleImg img.artImg {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
li.condition-item a.active {
    background-color: #216659;
}
div.mentalConditionsBody{
    background-color: #216659;
    width: 100%;
    min-width: 100%;
    height: 30vh;
    color: #ffffff;
}
    div.mentalConditionsBody h1{
        font-size: 8vh;
    }
    div.mentalConditionsBody p{
        font-size: 2.5vh;
    }
    div.mentalBodyContainer{
        background-color: #d1e7e3;
    }
div.helpBody {
    background-color: #216659;
    width: 100%;
    min-width: 100%;
    height: 35vh;
    color: #ffffff;
}
    div.helpBody h1{
        font-size: 8vh;
    }
    div.helpBody p{
        font-size: 2.5vh;
    }
img.imgContain{
    max-width: 100%;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
div.card-body h5.card-title {
    color: #143b34;
}
.navbar-bgCustom {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    
}
div.mentalCtaSection {
    width: 100%;
    height: 25vh;
    background-color: #216659;
}
li.nav-item a.navBtm{
    transition: transform(0.2s);
}
    li.nav-item a.navBtm:hover {
        transform: scale(1.10);
        color: #fad462;
    }
div.socmedIcons svg {
    width: 25px;
    height: 25px;
    transition: transform(0.2s);
}
    div.socmedIcons svg:hover {
    transform: scale(1.10);
    color: #fad462;
    }
